td.ui-state-danger {
    background-color: #E08F95;
}

td.ui-state-warning {
    background-color: #fbbb22;
}

.ui-datepicker:before, .ui-datepicker:after {
    display: none!important;
}

.mpbpost-label-warning {
    background-color: #fbbb22 !important;
}

.mpbpost-label-success {
    background-color: #72C279 !important;
}

.mpbpost-label-info {
    background-color: #00aff0 !important;
}

.mpbpost-label-danger {
    background-color: #E08F95 !important;
}

.mpbpost-label-inverse {
    background-color: #333333 !important;
}

.mpbpost-badge-warning {
    color: #fbbb22 !important;
    background-color: white !important;
}

.mpbpost-badge-success {
    color: #72C279 !important;
    background-color: white !important;
}

.mpbpost-badge-info {
    color: #00aff0 !important;
    background-color: white !important;
}

.mpbpost-badge-danger {
    color: #E08F95 !important;
    background-color: white !important;
}

.mpbpost-badge-inverse {
    color: #333333 !important;
    background-color: white !important;
}

td.sameday-cutoff-labels {
    line-height: 2em !important;
}

td.sameday-cutoff-labels * {
    font-weight: 700 !important;
}

.swal-overlay {
    display: none;
}

.swal-overlay--show-modal {
    display: inline-block;
}
